body{
    font-family: Arial;
    background-image: url("C:\Users\hp\Downloads\hand-drawn-minimal-background_23-2149001650.avif");
    background-size: cover;      /* /ills screen */
    background-position: center; /* keeps it centered */
    background-repeat: no-repeat;
    
}
h1{
    text-align: center;
    text-decoration: wavy;
}
pre {

    font-family: Arial;
    text-align:justify;
    background-image: linear-gradient(to top, rgba(218, 74, 17, 0.959), rgb(207, 221, 15));
    border: 2px dashed black;

}